.rankingTable {
    font-size: 12px;
    width: 100%;
    table-layout: fixed;
}

.title {
    line-height: 19px;
    text-align: left;
    margin-bottom: 16px;
}

.title > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.title > div > span {
    font-size: 12px;
    --tw-text-opacity: 1;
    color: rgb(100 100 100 / var(--tw-text-opacity));
}

.rankingTable > thead {
    --tw-bg-opacity: 1;
    background-color: rgb(54 57 68 / var(--tw-bg-opacity));
}

.rankingTable > thead > tr {
    --tw-border-opacity: 1;
    border-color: rgb(54 57 68 / var(--tw-border-opacity));

    border-bottom-width: 0;
    border-width: 1px;
    height: 44px;
}

.rankingTable > thead > tr > th {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    font-weight: 500;
    padding: 0;
    /* width: 50px; */
}

.rankingTable > tbody {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.rankingTable > tbody > tr {
    --tw-border-opacity: 1;
    border-color: rgb(230 230 230 / var(--tw-border-opacity));

    border-top-width: 0;
    border-width: 1px;
}

.w-50 {
    width: 50px;
}

.leaderBoard {
    display: flex;
    align-items: center;
    justify-content: center;
    --tw-text-opacity: 1;
    color: rgb(100 100 100 / var(--tw-text-opacity));
    line-height: 14px;
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    --tw-bg-opacity: 1;
    background-color: rgb(250 250 250 / var(--tw-bg-opacity));
    --tw-border-opacity: 1;
    border-color: rgb(230 230 230 / var(--tw-border-opacity));
    border-top-width: 0;
    border-width: 1px;
    -moz-column-gap: 4px;
    column-gap: 4px;
}

@media screen and (min-width: 992px) {
    .w-80 {
        width: 80px;
    }
}
